*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
.cont{
background:linear-gradient(45deg,rgb(202, 236, 8) , rgb(33, 182, 202));
/* background-image: url(/head.jpg); */
width: 100%;
height:450px;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
}
.logo{
  /* animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: width 2s, height 5s ; */
  /* animation: imgmove 4s linear infinite;
    animation-fill-mode: forwards;
    cursor: pointer; */
  margin-top:-30px;
  position: absolute;
  left:480px;
  align-items: center;
  display: flex;
  justify-content: center;
}

#htext{
   top: 45px;
   left:530px;  
  position: absolute;
  color:rgb(255, 242, 242);
  /* text-align: center;
   align-items: center;
  display: flex;
  justify-content: center; */
}
.navbar1{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin-top: 20px;
  margin-left: 10px;
  position:absolute;
  
}

 /* .img-fluid{
  height:400px;
  width:100%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  z-index: -1;
} */
#h2note{
  top:5px;
  position: relative;
}
.carouselslide{
  position: relative;
top:25px;
width: 100%;
}
.carousel-inner{
  height: 550px;
  width: 100%;
  padding: 10px;
}
.img{
  top: 60px;
  left: 400px;
  position: relative;
  align-items: center;
}
.ads{
  margin-top: 35px;
  position: relative;
  width:100%;
  height:600px;
  /* background:linear-gradient(90deg, red ,black); */
  border-radius: 30px;

}
#h1note{
  margin-top: 25px;
  position: relative;
}
#h3note{
  margin-top: 25px;
  position: relative;
}
#h4note{
  margin-top: 25px;
  position: relative;
}
.mov{
  margin-top: 35px;
  position: relative;
  width: 100%;
  height:auto;
  background:linear-gradient(90deg,rgb(148, 160, 226),blue);
  /* border-radius:30px ; */
  

}

.con{
  margin-top: 35px;
  position: relative;
  width: 100%;
  height:150px;
  background:linear-gradient(90deg,rgb(2, 2, 1),rgb(83, 7, 7));
  border-top-right-radius:30px ;
  border-top-left-radius:30px;
  
}
.container{
  margin-top: 20px;

  background-color: transparent;
  opacity: 4rem;
}
.col{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* .backgroundhead{
  background-image: ;
} */
/* Media Query for desktop
@media only screen and (min-width: 1200px);

 {
 
 #header .nav-list ul{
     position: initial;
     display: block;
     height: auto;
     width: fit-content;
     background-color: transparent;
 }
 #header .nav-list ul li{
     display: inline-block;
 }
 #header .nav-list ul li a{
     font-size: 1.5rem;
 }} */

 /* .cards{
   
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
   gap:20px;
 } */
#imagefoot{
  height: 100px;
  width: 100px;
margin-bottom: 20px;
margin-left: 300px;
}